 .all1 {
  
   cursor: pointer;
 }
 .containerSlide {
   width: 100%;
   position: relative;
   left: 50%;
   transform: translate(-50%, -10%);
   height: 100%;
   box-shadow: none;
 }
 #slide {
   width: max-content;
   margin-top: 50px;
 }
 .all1 .item1 {
   width: 100%;
   height: 60vh;
   background-position: 50% 50%;
   transition: 0.8s;
   position: absolute;
   display: inline-block;
   transform: translate(50%, 180%);
   margin-bottom: 20px;
   margin-top: 12%;
   background-size: cover;
   top: 70%;
   border-radius: none;
 }
 .item1:nth-child(1) {
   margin-top: 120px;
   border-radius: none;
   width: 50%;
   height: 50%;
   box-shadow: none;
   display: none;
 }
 /* prev */
 .item1:nth-child(2) {
  top: -110%;
  left: -3%;
  width: 50vh;
  height: 60vh;
   
 }
 /* center */
 .item1:nth-child(3) {
   left:50%;
   top: -133%;
   z-index: 1;
   width: 57vh;
   height: 70vh;
   box-shadow: none;   
   border-radius: none;
   /* box-shadow: 0 30px 50px #505050; */
 }
 /* next */
 .item1:nth-child(4) {
   left: 50%;
   top: -110%;
   width: 50vh;
   height: 60vh;
 }
 .item1:nth-child(5) {
   left: calc(50% + 440px);
   display: none;
 }
 .item1:nth-child(n + 6) {
   left: calc(50% + 660px);
   opacity: 0;
   display: none;
 }
 .item1 .content {
  position: absolute;
  display: none;
  justify-content: space-between;
  color: white; 
  width: 50%;
  height: 100%;
 }

 .item1:nth-child(3) .content {
   display: block;
 }
 .all1 .containerSlide .item1 .name {
   font-size: 35px;
   font-weight: bold;
   margin-top: 30%;
   opacity: 0;
   animation: showcontent 0s ease-in-out 1 forwards;
 }
 .all1 .containerSlide .item1 .name {
  font-size: 35px;
  font-weight: bold;
  margin-top: 30%;
  opacity: 0;
  animation: showcontent 0s ease-in-out 1 forwards;
}
 .item1 .button1 button {
   padding: 10px 20px;
   border: none;
   opacity: 0;
   animation: showcontent 0s ease-in-out 0.6s 1 forwards;
 } 
 @keyframes showcontent {
   from {
     opacity: 0;
     transform: translate(0, 100px);
     filter: blur(33px);
   }
   to {
     opacity: 1;
     transform: translate(0, 0);
     filter: blur(0);
   }
 }
 .button1 button {
   z-index: 2;
   width: 100%;
 }
 
 .all1  .containerSlide #prev{
  top: -90%;
  left:-70% ;
 }
 .all1  .containerSlide #next{
  top: -90%;
  left:-10% ;
 }
 .button1 button {
   width: 50px;
   height: 50px;
   border-radius: 50%;
   background-color: rgba(87, 87, 87, 0.5);
   border: 2px solid rgba(87, 87, 87, 0.5);
   color: white;
   transition: 0.5s;
 }

 .button1 button:hover {
  background-color: #3498db;
  color: white;
  border: 2px solid transparent;
 }
 /* responnsive */
 /* @media screen and (max-width: 1230px){
  .item1:nth-child(3){
    width: 60vh;
    height: 70vh;
  }
  .item1:nth-child(2),
  .item1:nth-child(4){
    width: 50vh;
    height: 60vh;
  }
  .button1 button {
    margin-top:70%;    
    margin-left:90%;
  }
  .button1 button {
    width: 35px;
    height: 35px;   
  }
  .all1 .containerslide .item1 .name {
    font-size: 25px;   
    margin-top: 70px;
  }

}
@media screen and (max-width:1150px) {
  .button1 button{
    left: 3%;
  }
 }
@media screen and (max-width:  1118px){
  .button1 button{
    margin-top:15px;    
  }   
}
@media screen and (max-width:  1120px){
  .item1:nth-child(4) {
    display:none;
  }  
  .item1:nth-child(2){
    display: none;
  }
  .button1 button {
    margin-top:100%;    
    margin-left:100%;
  }  
   .item1:nth-child(3) {     
    width: 70vh;
    height: 80vh
  } 
}
@media screen and (max-width:  960px){
  .button1  button {
   margin-top: 70vh;
   margin-left: 50vh;
  }
  .item1:nth-child(3){   
    margin-left: 20vh;
   }
}

@media screen and (max-width:  738px){
  .button1 button {
   margin-top: 55vh;
   margin-left: 70vh;
  }
  .item1:nth-child(3){   
    margin-left: -20%;    
    border-radius: 500px;
    border: 10px solid white;
   }
   .all1 .containerslide .item1 .name {
    margin-top: -50%;
    margin-left: 110%; 
    color: #666666;  
  }

  .button1 button {
    border: 2px solid #666666;
    color: #666666; 
  }
  .button1 button {
    width: 50px;
    height: 50px;
    border: 2px solid #666666;
    color: #666666; 
  }
  .button1 button:hover {
      background-color: #666666;
      color: white;    
  }
}


@media screen and (max-width:  678px){
  .button1 button {
   margin-top: 40vh;
   margin-left: 60vh;
  }
  .item1:nth-child(3){   
    margin-left: -20%;    
    border-radius: 500px;
    width: 350px;
    height: 350px;
    border: 10px solid white;
   }
  .all1 .containerslide .item1 .name {
    margin-top: -30%;
    margin-left: 85%; 
    font-size: 30px;
  }


}
@media screen and (max-width:  661px){
  .button1  button  {
    margin-top: 40vh;
    margin-left: 60vh;
   }
   .button1 button button {
    width: 30px;
    height: 30px;

   }
   .item1:nth-child(3){ 
     border: 5px solid white;
    } 
   .all1 .containerslide .item1 .name {
     margin-top: -30%;
     margin-left: 85%; 
     font-size: 20px;
   }


}
@media screen and (max-width:  598px){
  .item1:nth-child(3){   
    margin-left: 20%;    

   }
  .all1 .containerslide .item1 .name {
    margin-top: 150%;
    margin-left: 0%; 
    font-size: 20px;
  }

  .button1 button  {
  margin-top: 200%;
  margin-left:70%;;
 }
}


 @media screen and (max-width:1030px) {
  .containerSlide {
    left: 40%;
  }
  .button1 button{
    left: 8%;
  }
 }
 @media screen and (max-width:953px) {

 .item1:nth-child(2) {
display: none;
 }

 .item1:nth-child(4) {
   display: none;
 }
 }
 @media screen and (max-width: 587px) {

 }


































 */


